<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Moments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

      <ion-grid>
        <ion-row>
          <!-- Date Filter -->
          <ion-col size="6">
            <ion-item class="filter-item">
              <ion-select [(ngModel)]="dateFilter" (ionChange)="applyFilters()" placeholder="Select Date">
                <div slot="label">
                  Date
                </div>
                <ion-select-option [value]="null">All</ion-select-option>
                <ion-select-option *ngFor="let date of availableDates" [value]="date">
                  {{ date | date:'dd. MMM yyyy' }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
      
          <!-- Location Filter -->
          <ion-col size="6">
            <ion-item class="filter-item">
              <ion-select [(ngModel)]="locationFilter" (ionChange)="applyFilters()" placeholder="Select Location">
                <div slot="label">
                  Location
                </div>
                <ion-select-option [value]="null">All</ion-select-option>
                <ion-select-option *ngFor="let location of availableLocations" [value]="location">
                  {{ location }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      

    <ion-item-sliding *ngFor="let entry of filteredEntries" (ionDrag)="handleSlide($event, entry)">
      <ion-item class="entry-item" [routerLink]="['/entry', entry.id.toString()]">
        <div class="ion-padding-vertical">
          <div class="date-location">
            {{ entry.created_at | date:'dd. MMM yyyy' }}
            <ng-container *ngIf="entry.location?.name">
              • {{ entry.location?.name }}
            </ng-container>
          </div>
          <h2 class="entry-title">{{ entry.title }}</h2>
          <div class="media-type">
            <span *ngIf="hasMediaType(entry, 'image')">Photos</span>
            <span *ngIf="hasMediaType(entry, 'audio')" class="ion-margin-start">Audio</span>
          </div>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable>
          <ion-icon name="trash" class="ion-margin-end"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/new-entry">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
