:root {
    // Primary colors
    --ion-color-primary: #6366f1;
    --ion-color-primary-rgb: 99, 102, 241;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #575ad4;
    --ion-color-primary-tint: #7376f2;

    // Gradient colors
    --gradient-start: #ff01ff;  // Purple
    --gradient-end: #0f35ff;    // Blue

    // Background colors
    --ion-background-color: #ffffff;
    --ion-toolbar-background: var(--ion-background-color);

    // Text colors
    --ion-text-color: #1f2937;
    --ion-text-color-rgb: 31, 41, 55;

}